/* Add your styles here */

img {
    max-width: 100%;
  }

  #imgsel{
    border: lightseagreen 2px solid;
  }
  h1, h2, h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: lightseagreen;
  }
  h1{
    font-size: 24px;
    font-weight: bold;
    text-align:left;
  }
  
  h2{
    font-size: 22px;
    font-weight: bold;
    text-align:left;
  }
  
  h3{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }